<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--autores do site-->
        <meta name="author" content="Tiago Lino e Vinícuis Garces"/>
        <!--palavras chaves ao realizar pesquisa para encontrar no site-->
        <meta name="Kwywords" contente="Carreira, Inclusão, Vagas de Emprego"/>
        <meta name="descreption" content="Site de vagas de emprego exluiva para pessoas com deficiência no Distrito Federal"/>
        
        <link rel="stylesheet" href="/Carreira_Inclusiva/style/main.css">

        <title>Carreira Inclusiva</title>
    </head>
    <body>
        <header>
            <div class="conteiner">
                <img src="/Carreira_Inclusiva/img/logo.png" alt="" srcset="">
                <h1 class = "logo">Carreira Inclusiva </h1>
                <div class="botoes">
                    <a href="login.html"><button type="submit" class="botao">Login</button></a>
                    <button type="submit" class="botao">Cadastre-se</button>
                </div>
            </div>

            <div class="menu">
                <nav>
                    <a class="a-menu" href="index.html">Home</a>
                    <a class="a-menu" href="encontre_vagas.html">Encontre uma Vaga</a>
                    <a class="a-menu" href="gerar_alertas.html">Alertas de Vagas</a>
                    <a href="#">Mapa do Site</a>
                </nav>
            </div>
        </header>

        <!--linha para separar os blocos-->
        <div class="linha"></div>

        <!--Sessão curriculo-->
        <section  >
            <div class="curriculo">
                <div class="card_curriculo">
                    <!-- Título da seção -->
                    <h1>Currículo</h1>
                    <h3>Faça upload do seu currículo</h3>
                    <p>Upload de um computador</p>
                    <form action="#" method="post">
                        <div class="arquivos">
                            <input id="file-upload" type="file" />
                        </div>
                        <p class="tipo_doc">Seu currículo deve ser um .doc, pdf, docx e não pode ser mairo que 2MB</p>
                        <button type="submit">SALVAR</button>
                    </form>
                </div>
            </div>
            <div class="conteiner-imagens_interativas">
                <img src="/Carreira_Inclusiva/img/acessibilidade.png" alt="" >
                <img src="/Carreira_Inclusiva/img/libras.png" alt="" >
            </div>
        </section>

         <footer class="footer">
            <div class="footer-content">
                <p class="copyright"> © 2024 Copyright: Carreira Inclusiva</p>
                <div class="social-logo">
                    <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img class="img-icone" src="/Carreira_Inclusiva/img/logo-facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/" target="_blank"><img class="img-icone" src="/Carreira_Inclusiva/img/logo-instagram.png" alt=""></a>
                    <a href="https://br.linkedin.com/" target="_blank"><img class="img-icone" src="/Carreira_Inclusiva/img/logo-linkedin.png" alt=""></a>
                </div>
            </div>
         </footer>

    </body>
</html>