<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--autores do site-->
        <meta name="author" content="Tiago Lino e Vinícuis Garces"/>
        <!--palavras chaves ao realizar pesquisa para encontrar no site-->
        <meta name="Kwywords" contente="Carreira, Inclusão, Vagas de Emprego"/>
        <meta name="descreption" content="Site de vagas de emprego exluiva para pessoas com deficiência no Distrito Federal"/>
        
        <link rel="stylesheet" href="/Carreira_Inclusiva/style/main.css">

        <title>Carreira Inclusiva</title>
    </head>
    <body>
        <header>
            <div class="conteiner">
                <img src="/Carreira_Inclusiva/img/logo.png" alt="" srcset="">
                <h1 class = "logo">Carreira Inclusiva </h1>
                <div class="botoes">
                    <a href="login.html"><button type="submit" class="botao">Login</button></a>
                    <button type="submit" class="botao">Cadastre-se</button>
                </div>
            </div>

            <div class="menu">
                <nav>
                    <a class="a-menu" href="index.html">Home</a>
                    <a class="a-menu" href="encontre_vagas.html">Encontre uma Vaga</a>
                    <a class="a-menu" href="#">Alertas de Vagas</a>
                    <a href="#">Mapa do Site</a>
                </nav>
            </div>
        </header>

        <!--linha para separar os blocos-->
        <div class="linha"></div>

        <!--Sessão de gerar alertas de vagas-->
        <section >
            <div class="sessao-gerar_alertas">
                <div class="gerar-alertas">
                    <div class="card_gerar-alertas">
                        <!-- Título da seção -->
                        <h1>Criar alertas de vagas</h1>
                        <!-- Descrição da seção -->
                        <h3>Crie uma conta para acessar e candidatar as vagas :</h3>
                        <!-- Informação sobre campos obrigatórios -->
                        <p>Campos com (<span style="color: red;">*</span>) são obrigatórios</p><!--utilizado a tag span para alterar a cor apenas do asterisco-->
                        <!-- Formulário de criação de conta -->
                        <form action="#" method="post">
                            <div class="alerta-form-container">
                                <div class="alerta-form">
                                    <label for="email">Informe seu email<span style="color: red;">*</span> </label>
                                    <input type="email" name="email" required>
                                </div>
                                <div class="alerta-form">
                                    <label for="cargo">Qual cargo está procurando atualmente?</label>
                                    <input placeholder="Ex. Auxiliar administrativo" type="text" name="cargo" required>
                                </div>
                                <div class="alerta-form">
                                    <label for="local">Qual a localidade de trabalho de sua preferência?</label>
                                    <input placeholder="Ex. Taguatinga" type="text" name="local" required>
                                </div>
                            </div>
                            <button type="button">- Menos opções</button>
                            <div class="mais-opcoes">
                                <div class="novos-campos">
                                    <h3>Localização</h3>
                                    <fieldset class="container-opcoes">
                                        <div class="opcoes">
                                            <input type="checkbox" name="Taguatinga" id="Taguatinga">
                                            <label for="Taguatinga">Taquatinga</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Cruzeiro" id="Cruzeiro">
                                            <label for="Cruzeiro">Cruzeiro</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Asa Sul" id="Asa Sul">
                                            <label for="Asa Sul">Asa Sul</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Asa Norte" id="Asa Norte">
                                            <label for="Asa Norte">Asa Norte</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Águas Claras" id="Águas Claras">
                                            <label for="Águas Claras">Águas Claras</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Samambaia" id="Samambaia">
                                            <label for="Samambaia">Samambaia</label>
                                        </div>
                                    </fieldset>
                                    <h3>Setor</h3>
                                    <fieldset class="container-opcoes">
                                        <div class="opcoes">
                                            <input type="checkbox" name="Administracao" id="Administracao">
                                            <label for="Administracao">Administração</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Design" id="Design">
                                            <label for="Design">Design</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Engenharia" id="Engenharia">
                                            <label for="Engenharia">Engenharia</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Hospitalar" id="Hospitalar">
                                            <label for="Hospitalar">Hospitalar</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Jornalismo" id="Jornalismo">
                                            <label for="Jornalismo">Jornalismo</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Tecnologia" id="Tecnologia">
                                            <label for="Tecnologia">Tecnologia da Informação(TI)</label>
                                        </div>
                                    </fieldset>
                                    <h3>Tipo de Contrato</h3>
                                    <fieldset class="container-opcoes">
                                        <div class="opcoes">
                                            <input type="checkbox" name="CLT" id="CLT">
                                            <label for="CLT">CLT</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="PJ" id="PJ">
                                            <label for="PJ">PJ</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Freelancer" id="Freelancer">
                                            <label for="Freelancer">Freelancer</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="Estagio" id="Estagio">
                                            <label for="Estagio">Estágio</label>
                                        </div>
                                    </fieldset>
                                    <h3>Faixa Salarial</h3>
                                    <fieldset class="container-opcoes">
                                        <div class="opcoes">
                                            <input type="checkbox" name="faixa-salarial" id="faixa-salarial">
                                            <label for="faixa-salarial">0,00 - 500,00 R$</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="faixa-salarial" id="faixa-salarial">
                                            <label for="faixa-salarial">501,00 - 1500,00 R$</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="faixa-salarial" id="faixa-salarial">
                                            <label for="faixa-salarial">1501,00 - 2500,00 R$</label>
                                        </div>
                                        <div class="opcoes">
                                            <input type="checkbox" name="faixa-salarial" id="faixa-salarial">
                                            <label for="faixa-salarial">2501,00 R$ ou mais </label>
                                        </div>
                                    </fieldset>
                                </div>
                                <button type="submit" class="btn-criar-alerta">CRIAR ALERTA</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="conteiner-imagens_interativas">
                    <img src="/Carreira_Inclusiva/img/acessibilidade.png" alt="" id="acessibilidadeImg">
                </div>

                <div class="acessibilidade">
                    <div class="acessibilidade_titulo">
                        <h1>Menu Acessibilidade(CTRL+U)</h1>
                        <img src="/Carreira_Inclusiva/img/x.png" alt="" id="fecharImg"> 
                    </div>
                    <div class="conteiner-menu_acessibilidade">
                        <div class="menu_acessibilidade">
                            <div class="grupo-menu_acessibilidade">
                                <button onclick="linksDestacados()">Links destacados</button>
                                <button onclick="espaçamentoTexto()">Espaçamento de texto</button>
                                <button onclick="ocultarImagem()">Ocultar imagens</button>
                                <button onclick="cursor()">Cursor</button>
                                <button onclick="alturaLinha()">Altura da linha</button>
                                <button onclick="saturacao()">Saturação</button>
                            </div>
                            <div class="grupo-menu_acessibilidade">
                                <button onclick="contraste()">Contraste +</button>
                                <button onclick="aumentar_diminuir_texto()">Texto maior</button>
                                <button onclick=pararAnimação()>Parar animações</button>
                                <button onclick=dislexiaAmigavel()>Dislexia amigáel</button>
                                <button onclick=barraFerramenta()>Barra de ferramentas</button>
                                <button onclick=alinhamentoTexto()>Alinhamento do texto</button>
                            </div>
                        </div>
                        <div class="redefinir_acessibilidade">
                            <button>Redefinir as configurações de acessibilidade</button>
                        </div>
                    </div>
                </div>

                <div vw class="enabled">
                    <div vw-access-button class="active"></div>
                    <div vw-plugin-wrapper>
                      <div class="vw-plugin-top-wrapper"></div>
                    </div>
                </div>
                <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                <script>
                    new window.VLibras.Widget('https://vlibras.gov.br/app');
                </script>
            </div>
            </div>
        </section>

         <footer class="footer">
            <div class="footer-content">
                <p class="copyright"> © 2024 Copyright: Carreira Inclusiva</p>
                <div class="social-logo">
                    <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img class="img-icone" src="/Carreira_Inclusiva/img/logo-facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/" target="_blank"><img class="img-icone" src="/Carreira_Inclusiva/img/logo-instagram.png" alt=""></a>
                    <a href="https://br.linkedin.com/" target="_blank"><img class="img-icone" src="/Carreira_Inclusiva/img/logo-linkedin.png" alt=""></a>
                </div>
            </div>
         </footer>

         <script src="/Carreira_Inclusiva/componentes/JS/menuAcessibilidade.js"></script>

    </body>
</html>