*{margin:0; padding:0;}

header .conteiner{
    display: flex;
}

header img{
    height: 100px;
    margin-left: 30px;
}

header .logo{
    color: #0F729C;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 15px;
}

.botoes{
    position: fixed; /*Fixar a classe botoes na tela*/
    top: 6%; /*Posicionar os botoes no meio vertical*/
    right: 20px; /*Distância dos botoes da direita*/
    transform: translateY(-50%); /*Ajustar o posicionamento dos botoes vertical*/
    
}

.botao{
    background-color: #0F729C; /*cor de fundo dos botoes*/
    color: white; /*cor da letra dos botoes*/
    border: none; /*remover a borda padrã*/
    border-radius: 5px; /*arredondar os cantos*/

    font-size: 20px; /*tamanho dos botoes*/
    width: 150px; /*largura dos botoes*/
    text-align: center; /*alinhamento central do texto*/
    margin: 5px; /*espaçamento entre os botoes*/
}

.menu{
    width: 100%;
    background-color: #60AC83;
    height: 40px; 

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu nav a{
    text-decoration: none;
    color: black;
    padding: 8px;
    
}

nav{
    margin-left: 40px;
}

.a-menu{
    margin-right: 0px;
}

.menu nav a:last-child{ /*Pocisionar um ultimo elemento do menu no lado direito*/
    position: absolute;
    right: 0;  /*Pocisiona a direita*/
    display: flex;
    align-items: center;
    transform: translateY(-70%); /*Compesar a metada da altura no eixo y*/
    margin-right: 20px; /*Distanciar do lado direito*/
}

.linha{
    width: 100%;
    background-color: #E9BC1B;
    height: 10px;
}

.menu-pesquisa{
    background-color: #0F729C;
    height: 400px;
    display: flex;
}

main .conteiner{
    display: flex;
}

.menu-pesquisa .conteiner{
    width: 100%;
    margin: 0 auto;
    margin-left: 40px;
}

.menu-pesquisa .tema{
    color: white;
    font-size: 40px;
}

main img{
    height: 300px;
    margin-right: 0;
}

.borda-esquerda{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}







