<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--autores do site-->
        <meta name="author" content="Tiago Lino e Vinícuis Garces"/>
        <!--palavras chaves ao realizar pesquisa para encontrar no site-->
        <meta name="Kwywords" contente="Carreira, Inclusão, Vagas de Emprego"/>
        <meta name="descreption" content="Site de vagas de emprego exluiva para pessoas com deficiência no Distrito Federal"/>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="/Carreira_Inclusiva/style/main.css">

        <title>Carreira Inclusiva</title>
    </head>
    <body>
        <header>
            <div class="conteiner">
                <img src="/Carreira_Inclusiva/img/logo.png" alt="" srcset="">
                <h1 class = "logo">Carreira Inclusiva </h1>
                <div class="botoes">
                    <a href="login.html"><button type="submit" class="botao">Login</button></a>
                    <button type="submit" class="botao">Cadastre-se</button>
                </div>
            </div>

            <div class="menu">
                <nav>
                    <a class="a-menu" href="index.html">Home</a>
                    <a class="a-menu" href="encontre_vagas.html">Encontre uma Vaga</a>
                    <a class="a-menu" href="gerar_alertas.html">Alertas de Vagas</a>
                    <a href="#">Mapa do Site</a>
                </nav>
            </div>
        </header>

        <!--linha para separar os blocos-->
        <div class="linha"></div>

        <!--Sessão de criar conta-->
        <section  >
            <div class="sessao-criar_conta">
                <div class="criar-conta">
                    <div class="card_criar-conta">
                        <!-- Título da seção -->
                        <h1>Criar Conta</h1>
                        <!-- Descrição da seção -->
                        <p>Crie uma conta para acessar e candidatar as vagas :</p>
                        <!-- Informação sobre campos obrigatórios -->
                        <p class="p">Campos com (<span style="color: red;">*</span>) são obrigatórios</p><!--utilizado a tag span para alterar a cor apenas do asterisco-->
                        <!-- Formulário de criação de conta -->
                        <form action="#" method="post">
                            <div class="grupo-form-container">
                                <!-- Grupo de formulário para o nome -->
                                <div class="grupo-form">
                                    <label for="nome">Nome <span style="color: red;">*</span></label>
                                    <input type="text" id="nome" name="nome" required>
                                </div>
                                <div class="grupo-form">
                                    <!-- Grupo de formulário para o sobrenome -->
                                    <label for="sobrenome">Sobrenome <span style="color: red;">*</span></label>
                                    <input type="text" id="sobrenome" name="sobrenome" required>
                                </div>
                            </div>
                            <div class="grupo-form-container">
                                <!-- Grupo de formulário para o cargo pretendido -->
                                <div class="grupo-form">
                                    <label for="cargo">Cargo Pretendido </label>
                                    <input type="text" id="cargo" name="cargo">
                                </div>
                                <!-- Grupo de formulário para o CEP -->
                                <div class="grupo-form">
                                    <label for="cep">CEP </label>
                                    <input type="text" id="cep" name="cep">
                                </div>
                            </div>
                            <div class="grupo-form">
                                <label for="email">Email <span style="color: red;">*</span></label>
                                <input placeholder="exemplo@gmail.com" type="email" id="email" name="email" required>
                            </div>
                            <div class="grupo-form">
                                <label for="senha">Senha <span style="color: red;">*</span></label>
                                <input type="password" id="senha" name="senha" required>
                            </div>
                            <div class="grupo-form">
                                <label for="confirmar_senha">Confirmar Senha <span style="color: red;">*</span></label>
                                <input type="password" id="confirmar_senha" name="confirmar_senha" required>
                            </div>
                            <div class="checkbox-grupo-form">
                                <input type="checkbox" id="aceitar" name="aceitar" required>
                                <label for="aceitar">Li e aceito as <a href="#">Condições Legais</a>  e <a href="#">Política de Privacidade</a></label>
                            </div>
                            <button>CADASTRE-SE</button>
                        </form>
                    </div>
                </div>
                <!--Menu acessibilidade-->
                <div class="img-interativa">
                    <img src="/Carreira_Inclusiva/img/acessibilidade.png" alt="" id="acessibilidadeImg">
                </div>

                <div class="acessibilidade">
                    <div class="acessibilidade_titulo">
                        <h1>Menu Acessibilidade(CTRL+U)</h1>
                        <img src="/Carreira_Inclusiva/img/x.png" alt="" id="fecharImg"> 
                    </div>
                    <div class="conteiner-menu_acessibilidade">
                        <div class="menu_acessibilidade">
                            <div class="grupo-menu_acessibilidade">
                                <button onclick="linksDestacados()"><img src="/Carreira_Inclusiva/img/linkDestacado.png"> Links destacados</button>
                                <button onclick="espaçamentoTexto()"><img src="/Carreira_Inclusiva/img/espacamentoTexto.png"> Espaçamento de texto</button>
                                <button onclick="ocultarImagem()"><img src="/Carreira_Inclusiva/img/ocultarImagem.png"> Ocultar imagens</button>
                                <button onclick="cursor()"><img src="/Carreira_Inclusiva/img/cursor.png">Cursor</button>
                                <button onclick="alturaLinha()"><img src="/Carreira_Inclusiva/img/alturaLinha.png"> Altura da linha</button>
                                <button onclick="saturacao()"><img src="/Carreira_Inclusiva/img/saturacao.png"> Saturação</button>
                            </div>
                            <div class="grupo-menu_acessibilidade">
                                <button onclick="contraste()"><img src="/Carreira_Inclusiva/img/contraste.png"> Contraste +</button>
                                <button onclick="aumentar_diminuir_texto()"><img src="/Carreira_Inclusiva/img/textoMaior.png"> Texto maior</button>
                                <button onclick=pararAnimação()><img src="/Carreira_Inclusiva/img/pararAnimacao.png"> Parar animações</button>
                                <button onclick=dislexiaAmigavel()><img src="/Carreira_Inclusiva/img/df.png"> Dislexia amigáel</button>
                                <button onclick=barraFerramenta()><img src="/Carreira_Inclusiva/img/barraFerramentas.png"> Barra de ferramentas</button>
                                <button onclick=alinhamentoTexto()><img src="/Carreira_Inclusiva/img/alinhamentoTexto.png"> Alinhamento do texto</button>
                            </div>
                        </div>
                        <div class="redefinir_acessibilidade">
                            <button>Redefinir as configurações de acessibilidade</button>
                        </div>
                    </div>
                </div>

                <div vw class="enabled">
                    <div vw-access-button class="active"></div>
                    <div vw-plugin-wrapper>
                      <div class="vw-plugin-top-wrapper"></div>
                    </div>
                </div>
                <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                <script>
                    new window.VLibras.Widget('https://vlibras.gov.br/app');
                </script>
            </div>
        </section>

         <footer class="footer">
            <div class="footer-content">
                <p class="copyright"> © 2024 Copyright: Carreira Inclusiva</p>
                <div class="social-logo">
                    <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img class="img-icone" src="/Carreira_Inclusiva/img/logo-facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/" target="_blank"><img class="img-icone" src="/Carreira_Inclusiva/img/logo-instagram.png" alt=""></a>
                    <a href="https://br.linkedin.com/" target="_blank"><img class="img-icone" src="/Carreira_Inclusiva/img/logo-linkedin.png" alt=""></a>
                </div>
            </div>
         </footer>

         <script src="/Carreira_Inclusiva/componentes/JS/menuAcessibilidade.js"></script>

    </body>
</html>