<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--autores do site-->
        <meta name="author" content="Tiago Lino e Vinícuis Garces"/>
        <!--palavras chaves ao realizar pesquisa para encontrar no site-->
        <meta name="Kwywords" contente="Carreira, Inclusão, Vagas de Emprego"/>
        <meta name="descreption" content="Site de vagas de emprego exluiva para pessoas com deficiência no Distrito Federal"/>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="/Carreira_Inclusiva/style/main.css">

        <title>Carreira Inclusiva</title>
    </head>
    <body>
        <header>
            <div class="conteiner">
                <img src="{{ url_for('static', filename='img/logo.png')}}" alt="" srcset="">
                <h1 class = "logo">Carreira Inclusiva </h1>
                <div class="menu_usuarios">
                    <img src="{{ url_for('static', filename='img/logo_usuario.png')}}" alt="" srcset="">
                    <!-- Exibe o primeiro nome do usuário -->
                    <span>{{ nomeUsuario }}</span>
                    <img class="seta_baixo" src="{{ url_for('static', filename='img/seta_baixo.png')}}" alt="" srcset="">
                    <span class="separador">|</span>
                    <a class="logout" href="{{ url_for('logout') }}">Sair</a>

                    <!-- Menu dropdown -->
                    <div class="dropdown-menu">
                        <a href="{{ url_for('curriculo') }}">Currículo</a>
                        <a href="#">Suas Vagas</a>
                        <a href="#">Sua Conta</a>
                    </div>
                </div>
            </div>

            <div class="menu">
                <nav>
                    <a class="a-menu" href="index.html">Home</a>
                    <a class="a-menu" href="{{ url_for('encontre_vagas') }}">Encontre uma Vaga</a>
                    <a class="a-menu" href="{{ url_for('gerar_alertas') }}">Alertas de Vagas</a>
                    <a href="#">Mapa do Site</a>
                </nav>
            </div>
        </header>   

        <!--linha para separar os blocos-->
        <div class="linha"></div>

        <section>
            <div class="sessao-encontre_vagas">
                <h2>XX Vagas</h2>
                <div class="encontre_vagas">
                    <div class="card-pesquisa">
                        <h3>Pesquise por palavra chave</h3>
                        <input placeholder="ex. auxiliar administrativo" type="text" id="palavra-chave" name="palavra-chave" required>
                        <button type="submit" class="button-text">Pesquisar</button>
                        <h3 class="h3-texto">Refine sua pesquisa</h3>
                        <div class="refine-pesquisa">
                            <div class="topicos">
                                <button id="location-btn" onclick="toggleDropdown('location-options', 'location-arrow')">
                                    <img src="{{ url_for('static', filename='img/seta.png')}}" id="location-arrow" srcset="" alt="Seta">Localização
                                </button>
                            </div>
                            <div id="location-options" class="options">
                                <p>Taquatinga</p>
                                <p>Cruzeiro</p>
                                <p>Asa Sul</p>
                                <p>Asa Norte</p>
                                <p>Águas Claras</p>
                            </div>
                            <div class="topicos">
                                <button id="sector-btn" onclick="toggleDropdown('sector-options', 'sector-arrow')">
                                    <img src="{{ url_for('static', filename='img/seta.png')}}" id="sector-arrow" srcset="" alt="Seta">Setor
                                </button>
                            </div>
                            <div id="sector-options" class="options">
                                <p>Administração</p>    
                                <p>Design</p>
                                <p>Engenharia</p>
                                <p>Hospitalar</p>
                                <p>Jornalismo</p>
                                <p>Jornalismo</p>
                              </div>
                            <div class="topicos">
                                <button id="function-btn" onclick="toggleDropdown('function-options', 'function-arrow')">
                                    <img src="{{ url_for('static', filename='img/seta.png')}}" id="function-arrow" srcset="" alt="Seta">Função
                                </button>
                            </div>
                            <div id="function-options" class="options">
                                <p>Auxiliar Administrativo</p>
                                <p>Analista</p>
                                <p>Atendente</p>
                              </div>
                            <div class="topicos">
                                <button id="contractType-btn" onclick="toggleDropdown('contractType-options', 'contractType-arrow')">
                                    <img src="{{ url_for('static', filename='img/seta.png')}}" id="contractType-arrow" srcset="" alt="Seta">Tipo de contrato
                                </button>
                            </div>
                            <div id="contractType-options" class="options">
                                <p>CLT</p>
                                <p>PJ</p>
                                <p>Estagiário</p>
                                <p>Trainee</p>
                              </div>
                            <div class="topicos">
                                <button id="salaryBand-btn" onclick="toggleDropdown('salaryBand-options', 'salaryBand-arrow')">
                                    <img src="{{ url_for('static', filename='img/seta.png')}}" id="salaryBand-arrow" srcset="" alt="Seta">Faixa salarial
                                </button>
                            </div>
                            <div id="salaryBand-options" class="options">
                                <p>R$ 0,00 - 500,00</p>
                                <p>R$ 501,00 - 1500,00</p>
                                <p>R$ 1501,00 - 2500,00</p>
                                <p>R$ 2500,00 ou mais</p>
                              </div>
                        </div>
                    </div>
                    <div class="conteiner-vagas">
                        <div class="vagas-content">
                        </div>
                        <div class="vagas-content">
                        </div>
                        <div class="vagas-content">
                        </div>
                    </div>
                    <!--Menu acessibilidade-->
                <div class="img-interativa">
                    <img src="{{ url_for('static', filename='img/acessibilidade.png')}}" alt="" id="acessibilidadeImg">
                </div>

                <div class="acessibilidade">
                    <div class="acessibilidade_titulo">
                        <h1>Menu Acessibilidade(CTRL+U)</h1>
                        <img src="{{ url_for('static', filename='img/x.png')}}" alt="" id="fecharImg"> 
                    </div>
                    <div class="conteiner-menu_acessibilidade">
                        <div class="menu_acessibilidade">
                            <div class="grupo-menu_acessibilidade">
                                <button onclick="linksDestacados()"><img src="{{ url_for('static', filename='img/linkDestacado.png')}}"> Links destacados</button>
                                <button onclick="espaçamentoTexto()"><img src="{{ url_for('static', filename='img/espacamentoTexto.png')}}"> Espaçamento de texto</button>
                                <button onclick="ocultarImagem()"><img src="{{ url_for('static', filename='img/ocultarImagem.png')}}"> Ocultar imagens</button>
                                <button onclick="cursor()"><img src="{{ url_for('static', filename='img/cursor.png')}}">Cursor</button>
                                <button onclick="alturaLinha()"><img src="{{ url_for('static', filename='img/alturaLinha.png')}}"> Altura da linha</button>
                                <button onclick="saturacao()"><img src="{{ url_for('static', filename='img/saturacao.png')}}"> Saturação</button>
                            </div>
                            <div class="grupo-menu_acessibilidade">
                                <button onclick="contraste()"><img src="{{ url_for('static', filename='img/contraste.png')}}"> Contraste +</button>
                                <button onclick="aumentar_diminuir_texto()"><img src="{{ url_for('static', filename='img/textoMaior.png')}}"> Texto maior</button>
                                <button onclick=pararAnimação()><img src="{{ url_for('static', filename='img/pararAnimacao.png')}}"> Parar animações</button>
                                <button onclick=dislexiaAmigavel()><img src="{{ url_for('static', filename='img/df.png')}}"> Dislexia amigáel</button>
                                <button onclick=barraFerramenta()><img src="{{ url_for('static', filename='img/barraFerramentas.png')}}"> Barra de ferramentas</button>
                                <button onclick=alinhamentoTexto()><img src="{{ url_for('static', filename='img/alinhamentoTexto.png')}}.png"> Alinhamento do texto</button>
                            </div>
                        </div>
                        <div class="redefinir_acessibilidade">
                            <button>Redefinir as configurações de acessibilidade</button>
                        </div>
                    </div>
                </div>

                <!--janela_Vlibras-->
                <div vw class="enabled">
                    <div vw-access-button class="active"></div>
                    <div vw-plugin-wrapper>
                      <div class="vw-plugin-top-wrapper"></div>
                    </div>
                </div>
                <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                <script>
                    new window.VLibras.Widget('https://vlibras.gov.br/app');
                </script>
                </div>
            </div>
        </section>

         <footer class="footer">
            <div class="footer-content">
                <p class="copyright"> © 2024 Copyright: Carreira Inclusiva</p>
                <div class="social-logo">
                    <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img class="img-icone" src="{{ url_for('static', filename='img/logo-facebook.png')}}" alt=""></a>
                    <a href="https://www.instagram.com/" target="_blank"><img class="img-icone" src="{{ url_for('static', filename='img/logo-instagram.png')}}" alt=""></a>
                    <a href="https://br.linkedin.com/" target="_blank"><img class="img-icone" src="{{ url_for('static', filename='img/logo-linkedin.png')}}" alt=""></a>
                </div>
            </div>
         </footer>

         <script src="{{ url_for('static', filename='js/menuAcessibilidade.js')}}"></script>
         <script src="{{ url_for('static', filename='js/refinaPesquisa.js')}}"></script>
         <script src="{{ url_for('static', filename='js/menuUsuario.js')}}"></script>

    </body>
</html>