<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--autores do site-->
        <meta name="author" content="Tiago Lino e Vinícuis Garces"/>
        <!--palavras chaves ao realizar pesquisa para encontrar no site-->
        <meta name="Kwywords" content="Carreira, Inclusão, Vagas de Emprego"/>
        <meta name="descreption" content="Site de vagas de emprego exluiva para pessoas com deficiência no Distrito Federal"/>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="/Carreira_Inclusiva/static/css/main.css">

        <title>Carreira Inclusiva</title>
    </head>
    <body>
        <header>
            <div class="conteiner">
                <img src="{{ url_for('static', filename='img/logo.png')}}" alt="" srcset="">
                <h1 class = "logo">Carreira Inclusiva </h1>
                <div class="menu_usuarios">
                    <img src="{{ url_for('static', filename='img/logo_usuario.png')}}" alt="" srcset="">
                    <!-- Exibe o primeiro nome do usuário -->
                    <span>{{ nomeUsuario }}</span>
                    <img class="seta_baixo" src="{{ url_for('static', filename='img/seta_baixo.png')}}" alt="" srcset="">
                    <span class="separador">|</span>
                    <a class="logout" href="{{ url_for('logout') }}">Sair</a>

                    <!-- Menu dropdown -->
                    <div class="dropdown-menu">
                        <a href="{{ url_for('curriculo') }}">Currículo</a>
                        <a href="#">Suas Vagas</a>
                        <a href="#">Sua Conta</a>
                    </div>
                </div>
            </div>

            <div class="menu">
                <nav>
                    <a class="a-menu" href="#">Home</a>
                    <a class="a-menu" href="{{ url_for('encontre_vagas') }}">Encontre uma Vaga</a>
                    <a class="a-menu" href="{{ url_for('gerar_alertas') }}">Alertas de Vagas</a>
                    <a href="#">Mapa do Site</a>
                </nav>
            </div>
        </header>

        <!--linha para separar os blocos-->
        <div class="linha"></div>

        <main>
            <div class="menu-pesquisa">
                <div class="conteiner">
                    <h2 class="tema">Plataforma que oferta vagas de emprego para pessoas com deficência</h2>
                    
                    <img src="{{ url_for('static', filename='img/imagem.jpg')}}" alt="" srcset="" class="borda-esquerda">
                </div>
                    <!-- Formulário de pesquisa de vagas -->
                    <form action="encontre_vagas.html" method="get" target="_blank">
                        <fieldset class="conteiner-bloco_pesquisa">
                            <!-- Bloco de pesquisa -->
                            <div class="bloco_pesquisa">
                                <!-- Campo de pesquisa por palavra-chave -->
                                <div class="tipo_pesquisa">
                                    <label for="palavra chave">Pesquisar vagas por palavra chave</label>
                                    <input id= "palavra chave" type="text" name="palavra chave" placeholder="Ex. Financeiro">
                                </div>
                                <!-- Campo de pesquisa por localização -->
                                <div class="tipo_pesquisa">
                                    <label for="localizacao">Pesquisar vagas por localização</label>
                                    <input id= "localizacao" type="text" name="localizacao" placeholder="Ex.Taquatinga">
                                </div>
                                <div class="btn-pesquisa">
                                    <!-- Botão de submissão da pesquisa -->
                                    <button type="submit">PESQUISA</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
               
             </div>
        </main>
        <!-- Seção  de cards-->
        <section>
            <div class="conteiner">
                <div class="card">
                    <!-- Imagem dentro do card -->
                    <img src="{{ url_for('static', filename='img/pesquisa.png')}}" alt="">
                    <div class="card-content">
                        <h3>Pesquisar vagas inclusivas</h3>
                        <p>Pesquisar vagas disponíveis para pessoas com deficiência</p>
                        <div class="botao-card">
                            <a href="encontre_vagas.html"><button>PESQUISAR</button></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img src="{{ url_for('static', filename='img/relatorio.png')}}" alt="">
                    <div class="card-content">
                        <h3>Gerar alertas de vagas</h3>
                        <p>Cadastre-se e recebe por email vagas que masi combinam com o seu perfil</p>
                        <div class="botao-card">
                            <a href="gerar_alertas.html"><button>GERAR ALERTAS</button></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img src="{{ url_for('static', filename='img/cv.png')}}" alt="">
                    <div class="card-content">
                        <h3>Upload do currículo</h3>
                        <p>Faça upload do seu currículo para combinar com as melhores vagas</p>
                        <div class="botao-card">
                            <a href="curriculo.html"><button>UPLOAD CV</button></a>
                        </div>
                    </div>
                </div>
                <!--Menu acessibilidade-->
                <div class="img-interativa">
                    <img src="{{ url_for('static', filename='img/acessibilidade.png')}}" alt="" id="acessibilidadeImg">
                </div>

                <div class="acessibilidade">
                    <div class="acessibilidade_titulo">
                        <h1>Menu Acessibilidade(CTRL+U)</h1>
                        <img src="{{ url_for('static', filename='img/x.png')}}" alt="" id="fecharImg">
                    </div>
                    <div class="conteiner-menu_acessibilidade">
                        <div class="menu_acessibilidade">
                            <div class="grupo-menu_acessibilidade">
                                <button onclick="linksDestacados()"><img src="{{ url_for('static', filename='img/linkDestacado.png')}}"> Links destacados</button>
                                <button onclick="espaçamentoTexto()"><img src="{{ url_for('static', filename='img/espacamentoTexto.png')}}"> Espaçamento de texto</button>
                                <button onclick="ocultarImagem()"><img src="{{ url_for('static', filename='img/ocultarImagem.png')}}"> Ocultar imagens</button>
                                <button onclick="cursor()"><img src="{{ url_for('static', filename='img/cursor.png')}}">Cursor</button>
                                <button onclick="alturaLinha()"><img src="{{ url_for('static', filename='img/alturaLinha.png')}}"> Altura da linha</button>
                                <button onclick="saturacao()"><img src="{{ url_for('static', filename='img/saturacao.png')}}"> Saturação</button>
                            </div>
                            <div class="grupo-menu_acessibilidade">
                                <button onclick="contraste()"><img src="{{ url_for('static', filename='img/contraste.png')}}"> Contraste +</button>
                                <button onclick="aumentar_diminuir_texto()"><img src="{{ url_for('static', filename='img/textoMaior.png')}}"> Texto maior</button>
                                <button onclick=pararAnimação()><img src="{{ url_for('static', filename='img/pararAnimacao.png')}}"> Parar animações</button>
                                <button onclick=dislexiaAmigavel()><img src="{{ url_for('static', filename='img/df.png')}}"> Dislexia amigáel</button>
                                <button onclick=barraFerramenta()><img src="{{ url_for('static', filename='img/barraFerramentas.png')}}"> Barra de ferramentas</button>
                                <button onclick=alinhamentoTexto()><img src="{{ url_for('static', filename='img/alinhamentoTexto.png')}}.png"> Alinhamento do texto</button>
                            </div>
                        </div>
                        <div class="redefinir_acessibilidade">
                            <button>Redefinir as configurações de acessibilidade</button>
                        </div>
                    </div>
                </div>

                <!--janela_Vlibras-->
                <div vw class="enabled">
                    <div vw-access-button class="active"></div>
                    <div vw-plugin-wrapper>
                      <div class="vw-plugin-top-wrapper"></div>
                    </div>
                </div>
                <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                <script>
                    new window.VLibras.Widget('https://vlibras.gov.br/app');
                </script>

            </div>
        </section>

         <!--linha para separar os blocos-->
         <div class="linha"></div>

         <section id="empresa-inclusao">
            <h2 class="titulo-empresa-inclusao">Algumas empresas comprometidas com a inclusão</h2>

            <div class="conteiner-empresa">
                    <div class="card-empresa-logo">
                        <img src="" alt="">
                        <div class="card-conteudo">
                        </div>
                    </div>
                    <div class="card-empresa-logo">
                        <img src="" alt="">
                        <div class="card-conteudo">
                        </div>
                    </div>
                    <div class="card-empresa-logo">
                        <img src="" alt="">
                        <div class="card-conteudo">
                        </div>
                    </div>
                    <div class="card-empresa-logo">
                        <img src="" alt="">
                        <div class="card-conteudo">
                        </div>
                    </div>

            </div>
         </section>
         <!-- Rodapé do site -->
         <footer class="footer">
            <div class="footer-content">
                <!-- Texto de copyright -->
                <p class="copyright"> © 2024 Copyright: Carreira Inclusiva</p>
                <!-- Logos das redes sociais linkadas-->
                <div class="social-logo">
                    <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img class="img-icone" src="{{ url_for('static', filename='img/logo-facebook.png')}}" alt=""></a>
                    <a href="https://www.instagram.com/" target="_blank"><img class="img-icone" src="{{ url_for('static', filename='img/logo-instagram.png')}}" alt=""></a>
                    <a href="https://br.linkedin.com/" target="_blank"><img class="img-icone" src="{{ url_for('static', filename='img/logo-linkedin.png')}}" alt=""></a>
                </div>
            </div>
         </footer>
         
         <script src="{{ url_for('static', filename='js/menuAcessibilidade.js')}}"></script>
         <script src="{{ url_for('static', filename='js/menuUsuario.js')}}"></script>

    </body>
</html>